<header>
  <nav class='w-full py-6 bg-white w-screen'>
    <div
      class='flex justify-between mx-auto xl:max-w-7xl lg:max-w-3xl md:max-w-3xl md:px-2 px-4'
    >
      <section class='flex items-center text-gray-900 space-x-2'>
        <img
          src='{{staticServer}}/image/favicon-chatting.png'
          class='h-7 w-7'
        />
        <a
          href='/'
          class='font-bold text-xl focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
        >
          랜덤채팅!
        </a>
      </section>
      <section>
        <ul
          class='md:space-x-8 space-x-6 text-gray-900 font-semibold hidden md:flex'
        >
          <li class='relative group'>
            <a
              href='/'
              class='group focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
            > 홈 </a>
            <div
              class='w-full h-0.5 bg-transparent group-hover:bg-gray-500 transition-al absolute bottom-0'
            ></div>
          </li>
          <li class='relative group'>
            <a
              href='/random-chat'
              class='focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
            >랜덤 채팅</a>
            <div
              class='w-full h-0.5 bg-transparent group-hover:bg-gray-500 transition-al absolute bottom-0'
            ></div>
          </li>
          <li class='relative group'>
            <a
              href='/public-chat'
              class='focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
            >공개 채팅방</a>
            <div
              class='w-full h-0.5 bg-transparent group-hover:bg-gray-500 transition-al absolute bottom-0'
            ></div>
          </li>
          <li class='relative group'>
            <a
              href='/personal-chat'
              class='focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
            >1대1 채팅방</a>
            <div
              class='w-full h-0.5 bg-transparent group-hover:bg-gray-500 transition-al absolute bottom-0'
            ></div>
          </li>
          <li class='relative group'>
            <a
              href='/board'
              class='focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none rounded-lg'
            >자유 게시판</a>
            <div
              class='w-full h-0.5 bg-transparent group-hover:bg-gray-500 transition-al absolute bottom-0'
            ></div>
          </li>
        </ul>
      </section>
      <section>
        <button
          class='flex md:hidden hover:bg-gray-100 p-2 rounded-full transition-all focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-gray-200 outline-none'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-5 w-5'
            viewBox='0 0 20 20'
            fill='currentColor'
          >
            <path
              fill-rule='evenodd'
              d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z'
              clip-rule='evenodd'
            ></path>
          </svg>
        </button>
        <ul class='md:flex hidden space-x-3'>
          <li><a
              id='login-header-button'
              href='/users/auth/login'
              class='bg-transparent px-4 py-1 rounded-xl border-gray-500 border-2 text-black-500 font-semibold hover:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-gray-500 focus:ring-opacity-25 outline-none'
            >로그인</a></li>
        </ul>
      </section>
    </div>
    <hr class='border-gray mt-6' />
  </nav>
</header>
<script src='{{staticServer}}/js/partials/header.js'></script>