<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='css/styles.css' rel='stylesheet' />
</head>
{{> header }}
<div>
  <h1>자유게시판 페이지</h1>
  <div id='create-board-modal' class='modal'>
    <div class='modal-content'>
      <p>게시판 생성 modal</p>
      <form id='create-board-form' class='modal-form'>
        <input placeholder='채팅방 이름'>
        <button class='close'>생성</button>
        <button id='modal-close' class='close'>닫기</button>
      </form>
    </div>
  </div>

  <button id='create-board-button'>게시판 생성</button>
  <hr>
  <table id='borad-table' border='1'>
    <tr>
      <th>번호 </th>
      <th>구분 </th>
      <th>제목 </th>
      <th>글쓴이</th>
      <th>댓글수</th>
      <th>조회수 </th>
      <th>날짜 </th>
    </tr>

    <tr>
      <td>1</td>
      <td><a>공지사항</a></td>
      <td>테스트 공지사항</td>
      <td>admin</td>
      <td>2</td>
      <td>10</td>
      <td>21/11/14</td>
    </tr>

    <tr>
      <td>2</td>
      <td><a>게시판</a></td>
      <td>테스트 게시판</td>
      <td>test</td>
      <td>10</td>
      <td>2</td>
      <td>10초전</td>
    </tr>
  </table>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='js/layouts/boards.js'></script>
</html>
