{{> header }}
<div>
  <button>채팅방 생성</button>
  <hr>
  <table id='chat-table' border='1'>
    <tr>
      <th>번호 </th>
      <th>방 이름 </th>
      <th>입장 버튼 </th>
      <th>수정 버튼 </th>
    </tr>

    <tr>
      <td>1</td>
      <td><a href='/public-chat/1'>테스트 방 !</a></td>
      <td><button>입장</button></td>
      <td><button>수정</button></td>
    </tr>
  </table>

  공개채팅방 페이지
</div>

<script src='public/js/layouts/publicChat.js'></script>