<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Random-Chatting</title>
  <link
    href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
    rel='stylesheet'
  />
  <link href='{{imageServer}}/css/styles.css' rel='stylesheet' />
  <link href="{{imageServer}}/favicon-chatting.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
  {{> header }}
  <div class='w-full h-5/6'>
    <nav class="flex bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="/" class="text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            홈
          </a>
        </li>
        {{#each breads}}
          {{> breadcrumbList bread=name}}
        {{/each}}
      </ol>
    </nav>
    <div class='flex w-1/2 items-center mx-auto my-5 justify-between'>
      <strong>랜덤 채팅 하기 </strong>
<!--      <span> 랜덤채팅 대기인원 : 4명</span>-->
      <button id='exit-chat' class="px-4 py-2 rounded-md text-sm font-medium border-0 focus:outline-none focus:ring transition text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300">
        나가기</button>
    </div>
    <!-- 랜덤채팅 BOX-->
    <div class='w-1/2 h-1/2 border-2 rounded container mx-auto my-5'>
      <!-- 채팅 내역 부분-->
      <div id='message' class="w-full h-full overflow-y-auto">
      </div>
      <section>
        <!-- 랜덤채팅 시작 버튼, 채팅시 비활성화-->
        <button id='ran-chat-match' class='w-full justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500'>
          랜덤채팅 시작하기
        </button>
        <!-- 채팅버튼 default 비활성화-->
        <div id='chatting-form' class="w-full py-2 px-4 flex items-center justify-between border border-gray-300 rounded row-end-auto" style='display:none;'>
          <button class="outline-none focus:outline-none">
            <svg class="text-gray-400 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </button>
          <button class="outline-none focus:outline-none ml-1">
            <svg class="text-gray-400 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
            </svg>
          </button>
          <form class='outline-none w-full flex' id='chat-form'>
            <input aria-placeholder="메시지를 입력하세요" placeholder="메시지를 입력하세요"
                   class="py-2 mx-3 pl-5 block w-full rounded-full bg-gray-100 outline-none focus:text-gray-700" type="text" name="message" required/>
            <button class="outline-none focus:outline-none">
              <svg class=" text-gray-600 h-7 w-7 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
              </svg>
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
  <script
    src='https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019'
  ></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='{{imageServer}}/js/layouts/randomChat.js'></script>
  {{> footer}}
</body>
</html>