<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Random-Chatting</title>
  <link
    href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
    rel='stylesheet'
  />
  <link href='css/styles.css' rel='stylesheet' />
</head>
{{> header }}
<body>
<div>
  <h1>this is ran chat</h1>

  <h2>랜덤채팅 어플리케이션!</h2>
  <h2>공개방 채팅</h2>
  <h2>1대1 유저 채팅!</h2>
  <h2>자유게시판 제공!</h2>
  <a href='/login'>랜 챗 어플 시작하기</a>

</div>
{{> footer}}

<script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
<script
  src='https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019'
></script>
<script
  src='https://cdn.socket.io/3.1.3/socket.io.min.js'
  integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
  crossorigin='anonymous'
></script>
<script src='js/scripts.js'></script>
</body>
</html>