<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Random-Chatting</title>
  <link
    href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
    rel='stylesheet'
  />
  <link href='css/styles.css' rel='stylesheet' />
</head>
{{> header }}
<body>
<div>
  <div class="bg-white">
    <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
      <div>
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">랜덤 채팅 어플리케이션</h2>
        <p class="mt-4 text-gray-500">대충 랜덤채팅 기능 제공하는 내용.</p>

        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">랜덤 채팅</dt>
            <dd class="mt-2 text-sm text-gray-500">랜덤 채팅 허실</dd>
          </div>

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">공개방 채팅</dt>
            <dd class="mt-2 text-sm text-gray-500">대충 공개방 파서 함께 채팅허실</dd>
          </div>

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">1대1 유저 채팅!</dt>
            <dd class="mt-2 text-sm text-gray-500">(귓속말임 속닥속닥)</dd>
          </div>

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">자유게시판 제공!</dt>
            <dd class="mt-2 text-sm text-gray-500">게시판 허실?</dd>
          </div>

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">뭐넣지?</dt>
            <dd class="mt-2 text-sm text-gray-500">Wood card tray and 3 refill packs</dd>
          </div>

          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">뭐넣지 22?</dt>
            <dd class="mt-2 text-sm text-gray-500">Made from natural materials. Grain and color vary with each item.</dd>
          </div>
        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-01.jpg" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="bg-gray-100 rounded-lg">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-02.jpg" alt="Top down view of walnut card tray with embedded magnets and card groove." class="bg-gray-100 rounded-lg">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-03.jpg" alt="Side of walnut card tray with card groove and recessed card area." class="bg-gray-100 rounded-lg">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="bg-gray-100 rounded-lg">
      </div>
    </div>
  </div>
</div>
{{> footer}}

<script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
<script
  src='https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019'
></script>
<script
  src='https://cdn.socket.io/3.1.3/socket.io.min.js'
  integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
  crossorigin='anonymous'
></script>
<script src='js/scripts.js'></script>
</body>
</html>