<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='css/styles.css' rel='stylesheet' />
</head>
{{> header }}
<body>
<div>
  {{title}}
</div>
</body>
</html>
