<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='../../css/chatting.css' rel='stylesheet' />
</head>
{{>header}}
<body>
<div id='chatting'>
  <nav class="flex bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="/" class="text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white">
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
          홈
        </a>
      </li>
      {{#each breads}}
        {{> breadcrumbList bread=name}}
      {{/each}}
    </ol>
  </nav>
  <div><h1>{{roomTitle}}</h1></div>

  <div id='room-id'>{{roomID}}</div>
  <div class='mt-20 mb-16 overflow-auto' id='chat-text'>
    {{#each chatHistory}}
    <div class='bg-gray-400 w-3/4 mx-4 my-2 p-2 rounded-lg clearfix break-all text-white'>
      <h3>{{this.userName}} : {{this.text}}</h3>
    </div>
    {{/each}}
  </div>
  <form id='chat-form'>
    <input type="text" id="user">
    <button id="sub-button" class='inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'>전송</button>
  </form>
</div>
<script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
<script src='https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019'></script>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src='../../js/template/chatting.js'></script>
</body>
</html>