{{>header}}
<div>
  <div><h1>{{roomTitle}}</h1></div>
  <div id='room-id'>{{roomID}}</div>
  <form id='chat-form'>
    <input type="text" id="user">
    <button id="sub-button">전송</button>
  </form>
  <div id='chat-text'>

  </div>

</div>
<script src='https://unpkg.com/@babel/standalone/babel.min.js'></script>
<script
  src='https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019'
></script>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src='../../js/template/chatting.js'></script>