<html lang='en'>
<head>
  <title>Random-Chatting</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="../css/summernote/summernote-lite.css">
  <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet'/>
  <link href='../css/styles.css' rel='stylesheet' />
  <link href="favicon-chatting.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
  {{> header }}
  <div>
    <nav class="flex bg-gray-50 text-gray-700 border border-gray-200 py-3 px-5 rounded-lg dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="/" class="text-sm text-gray-700 hover:text-gray-900 inline-flex items-center dark:text-gray-400 dark:hover:text-white">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            홈
          </a>
        </li>
        {{#each breads}}
          {{> breadcrumbList bread=name url=url}}
        {{/each}}
      </ol>
    </nav>
    <form id='create-board-form'>
      <input id='title' placeholder='게시판 제목' style='margin: 40px 10px 0px 10px; font-size:30px' class='w-full flex'>
      <hr style='margin: 10px'>
      <textarea id="summernote" name="editordata" style='margin: 40px 10px 0px 10px;'></textarea>
      <button class="px-4 py-2 rounded-md text-sm font-medium border-0 focus:outline-none focus:ring transition text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:ring-gray-300">저장</button>
    </form>
  </div>
  {{> footer}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/summernote/summernote-lite.js"></script>
  <script src="../js/summernote/summernote-ko-KR.js"></script>
  <script src='../js/template/createBoard.js'></script>
</body>
</html>
